.text{
    text-decoration: none;
}

.recipeContainer {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 500px;
    margin-left: 2.5%;
}

.margen{
    margin-top: 50px;
    
}

.error{
    color: aliceblue
}

.loader{
    display:flex;
    width:150px;
}

.loaderdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}