.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background-color: rgba(240, 248, 255, 0.979);
    border: 33%;
    border-style:groove;
  border-radius: 5%;
  border-color: black;
  width: 80%;

box-shadow: 3px 2px 60px 25px;
margin-top: 5%;
}