
.container{
    display:flex
}

.estylo, estylo:visited{
    background-color: rgba(240, 248, 255, 0.979);
    border-radius: 5%;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-top: 10%;
    text-align: center;
    min-block-size: 400px;
    min-width: 200px;
    max-height: 400px;
    box-shadow: 3px 2px 60px 25px;
    color:black;
    transition: transform .2s;
    text-decoration: none !important;
    outline: none !important;
}

.img{
    
    width: 18rem;
    height: 200px;
    border-radius: 10px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.199);
    border-width: 1px;
    margin: 10%;
}

.titletext{
   
    font-size: 20px;
    margin-top: -5%;
    text-decoration: none;
}

.diettext{
    font-size: 15px;
}

.estylo:hover{
    transform: scale(1.1)
}